.barra {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 179, 192);
    text-align: center;
}
.mobile {
    font-size: 70px;
    color: whitesmoke;
    text-align: center;
}

@media (min-width: 800px) {
    .barra{
        height: 150px;
        background-color: rgb(255, 179, 192);
    }
    #mobile {
        display: none;
    }
}
.tablet{
    display: none;
}
.desktop{
    display: none;

}
    .barra{
        height: 150px;
        background-color: rgb(158, 101, 158);
    }
    .mobile{
        display: none;
    }
    .tablet{
        display: inline;
        font-size: 70px;
        color:rgb(125, 247, 241);
        text-align: center;
    }


@media (min-width: 1228px) {
    .barra{
        height: 150px;
        background-color: rgb(158, 101, 158);
    }
    .tablet{
        display: none;
    }
    .desktop{
        display: inline;
        font-size: 80px;
        color:rgb(125, 247, 241);
        text-align: center;
    }  
}
.rodape{
    text-align: center;
}