.barra {
    width: 100%;
    height: 100px;
    background-color: rgb(139, 121, 185);
    text-align: center;
}

.mobile{
    font-size: 60px;
    color: rgb(64, 149, 195);
    text-align: center;
}
.tablet{
    display: none;
}
.desktop{
    display: none;
}
.conteudo{
    width: 100%;
    background-color: rgb(147, 213, 255);
}
.botoes{
    width: 100%;
    height: 30px;
    background-color: rgb(222, 115, 255);
    font-size: 28px;
    padding-top: 2px;
    padding-bottom: 4px;
}
.abageral{
    width: 100%;
    height: 400px;
    display: none;
}
.aba1 {
    background-color: rgb(195, 149, 255);
}
.aba2 {
    background-color: rgb(140, 131, 255);
}
.aba3 {
    background-color: rgb(121, 179, 255);
}
.aba4 {
    background-color: rgb(71, 149, 252);
}
@media (min-width: 800px) {
    .barra{
        height: 150px;
        background-color: rgb(65, 173, 245);
    }
    .mobile {
        display: none;
    }
    .tablet {
        display: inline;
        font-size: 30px;
        color: rgb(99, 46, 168);
    }
    
}

@media (min-width: 1228px){
    .barra {
        height: 200px;
        background-color: rgb(230, 200, 255);
    }
    #tablet {
        display: none;
    }
    #desktop {
        display: inline;
        font-size: 70px;
        color: rgb(0, 255, 128);
        text-align: center; 
    }
}